<footer>
  made with ❤️ by <a href="https://twitter.com/ThaddeusJiang" target="_blank"
    rel="noopener noreferrer">@ThaddeusJiang</a> | <a href="https://github.com/ThaddeusJiang/jp-post-api"
    target="_blank" rel="noopener noreferrer">open source on GitHub</a>
</footer>