<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="section">

    <h1>API Docs</h1>

    <h2><a href="/api/find?q="><%= hostname %>/api/find?q={code}</a></h2>
    <pre>
        <h3>Success</h3>
        <code>
          {
            "data": {
              "zipCode": "1080022",
              "_province": "ﾄｳｷｮｳﾄ",
              "_city": "ﾐﾅﾄｸ",
              "_town": "ｶｲｶﾞﾝ(3ﾁｮｳﾒ)",
              "province": "東京都",
              "city": "港区",
              "town": "海岸（３丁目）"
            }
          }
        </code>
        <h3>400 Bad Request</h3>
        <code>
          {"error":"q can not be empty!"}
        </code>
        <h3>400 Bad Request</h3>
        <code>
          {"error":"record not found!"}
        </code>
      </pre>
  </div>

  <% include ../partials/footer.ejs %>
</body>

</html>